@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

* {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  padding: 0 2rem;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

.link {
  cursor: pointer;
  text-transform: uppercase;
}

.link-light {
  color: #fff;
}

.underline {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.q-dialog__backdrop {
  backdrop-filter: blur(3px);
}

.reset-styles {
  img {
    width: initial;
  }
  ul,
  ol,
  li {
    list-style: initial;
    margin-left: 2rem;
  }
}
